
@{
    ViewBag.Title = "GeneratePdf";
}

<h2>Se ha generado el pdf con éxito</h2>
<h5>Por favor, revise en el directorio <strong>C://users/Nombre del usuario</strong></h5>
<h4>@Html.ActionLink("Volver", "Index")</h4>

