@model MCGA.Entities.ProfesionalDummy

@{
    ViewBag.Title = "TurnoProfesional";
}



<h2>Tomar nuevo turno</h2>

<h3>Busque un profesional</h3>


<div class="_form-horizontal">
    <div class="form-group">
        <label for="ProfesionalName" class="control-label col-md-2">Profesional</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="Requerido" id="ProfesionalName" name="ProfesionalName" type="text" value="" placeholder="Ingrese las primeras letras de la especialidad" style="display: inline-block;" required/>
            <span class="field-validation-valid text-danger" data-valmsg-for="ProfesionalName" data-valmsg-replace="true" style="display: inline-block"></span>
            <div style=" margin-left: 50px; display: inline-block">

                @*@Html.ActionLink("Ver profesionales", "ListaTurnos", new { profesionalId: $("#profesionalId").val() } )*@
                <input class="btn btn-primary" type="submit" id="profesional" value="Ver estudios" onclick="irATurnos()" />
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="profesionalId" type="hidden" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#ProfesionalName").autocomplete({
            autoSelect: true,
            autoFocus: true,
            minLength: 1,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetProfesionales", "Turno")',
                    datatype: "json",
                    data: { Areas: 'Masters', term: request.term },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return { label: val.Nombre + " " + val.Apellido, value: val.Nombre + " " + val.Apellido, Id: val.Id };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#profesionalId").val(ui.item.Id);
            }
        });
    </script>
    <script type="text/javascript">
        var myDato = $("#profesionalId").val();

        function irATurnos() {
            var myDato = $("#profesionalId").val();
            location.href = '/masters/turno/listaturnosespecialidad/?profesionalId=' + myDato + '&page=1';
        }
    </script>

}